@font-face {
  font-family: "baskerville";
  src: url('Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "baskerville", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url(img/ensapic.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.overlay-container img {
  width: 100px;
  height: 80px;
}

.container {
  position: relative;
  max-width: 1000px;
  background: #ebebeb;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #1b4353;
  width: 984px;
}

section h1 {
  color: #1b4353;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #225468;
  font-size: 15px;
}

.form .input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 12px;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #cdcccc;
  border-radius: 10px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 1px 5px 0.5px   #1b435337;
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #225468;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) { 
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 7px;
  margin-left: 40px;
  margin-right: 40px;
}

.gender input {
  accent-color: #225468; 
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #615f5f;
}

.address input {
  margin-top: 15px;
}

/* .register input{ 
  /* height: 55px; 
  /* width: 100%; 
  /* color: #ebebeb; 
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #1b4353;
 } 
 .register :hover { 
  background: #377993;
} */

.register {
  --color: #225468;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #346b81;
}

.register::before,
.register::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}
.register::before {
  top: -1em;
  left: -1em;
}

.register::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.register:hover::before,
.register:hover::after {
  height: 410px;
  width: 410px;
}

.register:hover {
  color: rgb(10, 25, 30);
}

.register:active {
  filter: brightness(.8);
}

.register .text{
  /* margin-left: 350px; */
  text-align: center;
  font-family: baskerville;
  /* font-weight: bold; */
  background-color: #346b81;
  border-style: none;
  color: #cdcccc;
  font-size: 20px;
  text-transform: uppercase;
}


@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
